:root {
    /* fonts */
    --font-alike-angular: "Alike Angular";
    --font-abril-fatface: "Abril Fatface";

    /* font sizes */
    --font-size-mini: 15px;

    /* Colors */
    --color-white: #fff;
    --color-chocolate: #dd6c1a;
    --color-gray: #fcfbfb;

    /* border radiuses */
    --br-481xl: 500px;
    --br-81xl: 100px;
}

.main .carousel-item {
    opacity: 0;
    transition: opacity 1s ease;
}

.main .carousel-item.active {
    opacity: 1;
}

.dropdown-menu {
    display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Custom CSS for carousel */
.main .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 56px);
    /* Subtracting the header height from the viewport height */
}

.main .carousel-text {
    position: absolute;
    text-align: start;
    margin-top: 60px;
    top: 25%;
    left: 90px;
    z-index: 1;
    font-size: 100px;
    line-height: 100px;
    font-family: var(--font-abril-fatface);
    color: whitesmoke;
    text-shadow: 3px 3px 2px rgba(128, 0, 0, 0.33);
}

/* CSS */
.main .button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: var(--font-alike-angular);
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 190px;
    will-change: transform, opacity;
    z-index: 0;
    margin-right: 15px;
}

.main .button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.main .button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.main .button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.main .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.main .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.main .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.main .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.main .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.main .button-18 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: var(--font-alike-angular);
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 190px;
    will-change: transform, opacity;
    z-index: 0;
}

.main .button-18:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.main .button-18:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.main .button-18:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.main .button-18:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.main .button-18:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.main .button-18:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.main .button-18:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.main .button-18:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.main .sec2 {
    width: 100%;
    height: 100vh;
}

.main .sec2-bg {
    background-image: url("./Resources/Images/pexels-vanessa-loring-5965658.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.main .sec2 .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 60% 40%;
}

/* Background image in the first grid area */
.main .sec2 .grid-item1 {
    background-image: url("./Resources/Images/pexels-vanessa-loring-5965658.jpg");
    background-size: cover;
    background-position: center;
}

/* Styling for the text in the second grid area */
.main .sec2 .grid-item2 {
    background-color: #edddcd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .sec2-item2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main .sec2-text {
    position: relative;
    text-align: end;
    z-index: 1;
    font-size: 60px;
    line-height: 60px;
    font-family: "DM Serif Display", serif;
    color: rgb(46, 10, 5);
    margin-left: 30px;
}

.main .sec2-item2 button {
    margin-top: 30px;
    margin-right: 160px;
}

.main .button-24 {
    width: 150px;
    height: 50px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.main .button-24:hover,
.main .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.main .button-24:active {
    opacity: .5;
}

.main .sc-ee301021-6 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    margin-right: 30px;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    width: 400px;
    border-radius: 8px;
}

.main .sc-ee301021-7 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-weight: normal;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    font-family: "DM Serif Display", serif;
    font-size: 1.125rem;
    line-height: 1.25rem;
    padding: 8px 12px;
    background-color: rgb(209, 252, 226);
    border-radius: 4px;
    width: fit-content;
    margin: auto;
}

.main .sc-ee301021-4 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
    font-size: 1rem;
    line-height: 1.25rem;
    width: 100%;
    padding: 12px 0px;
}

.main .sc-ee301021-9 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    line-height: 1rem;
    color: rgb(84, 84, 84);
}

.main .sec3 {
    width: 100%;
    height: 100vh;
    background-color: #faf3ef;
    display: grid;
    align-items: center;
    justify-content: center;
}

.main .sec3-text {
    font-size: 50px;
    text-align: center;
    font-family: "DM Serif Display", serif;
    margin-top: 60px;
}

.main .sec3 .grid-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: inherit;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.main .sec3 .grid-item {
    align-self: center;
    background-color: inherit;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #faf3ef;
}

.main .sc-c5eaa547-0 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    padding: 0px;
    width: calc(50% - 20px);
    text-align: center;
    margin: 10px;
    display: inline-table;
    background-color: #faf3ef;
}

.main .sc-c5eaa547-1 {
    align-self: center;
    text-align: center;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    margin-top: 10px;
    padding: 0px 8.93639px;
    gap: 11.17px;
    background: rgb(247, 200, 95);
    border-radius: 2.2341px;
    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2.125rem;
    letter-spacing: -0.02em;

}

.main .sc-c5eaa547-2 {
    text-size-adjust: 100%;
    --app-height: 100%;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    padding: 0px;
    font-family: "DM Serif Text", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 2rem;
    margin: 8px 0px 4px;
}

.main .sc-c5eaa547-3 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    padding: 0px;
    font-weight: 600;
    line-height: 1.125rem;
    color: rgb(112, 112, 112);
    margin: 4px 0px;
}

.main .sc-c5eaa547-4 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-family: "Work Sans", sans-serif;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    text-align: center;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    padding: 0px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 8px 0px;
    max-width: 214px;
}

.main .div-but25 {
    text-align: center;
    margin-bottom: 40px;
}

.main .button-25 {
    width: 200px;
    height: 50px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.main .button-25:hover,
.main .button-25:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.main .button-25:active {
    opacity: .5;
}

.main .sec4 {
    width: 100%;
    height: 100vh;
    background-color: #d1fce2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main .sec-4-headline {
    font-size: 50px;
    text-align: center;
    font-family: "DM Serif Display", serif;
    margin-top: 60px;
}

.main .sc-4e67e03b-2 {
    margin-top: 50px;
    position: relative;
    text-size-adjust: 100%;
    --app-height: 100%;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    line-height: 1.75rem;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    border-top: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    padding: 40px 0px;
}

.main .sc-4e67e03b-3 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    line-height: 1.75rem;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
    padding: 24px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.main .sc-4e67e03b-6 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-weight: normal;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
    padding: 0px;
    font-size: 4rem;
    line-height: 4rem;
    font-family: "DM Serif Display", serif;
}

.main .sc-4e67e03b-4 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-weight: normal;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    font-family: "DM Serif Display", serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
}

.main .sc-4e67e03b-5 {
    text-size-adjust: 100%;
    --app-height: 100%;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
    color: rgb(51, 51, 51);
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    margin: 0px;
    padding: 0px;
    margin-top: 23px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    max-width: 342px;
}

.main .div-but26 {
    margin-top: 50px;
    position: relative;
    justify-content: center;
}

.main .button-26 {

    width: 200px;
    height: 50px;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.main .button-26:hover,
.main .button-26:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.main .button-26:active {
    opacity: .5;
}

.main .sec5 {
    width: 100%;
    height: 100vh;
}

.main .sec5 .grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 60% 40%;
}

/* Styling for the text in the second grid area */
.main .sec5 .grid-item1 {
    background-color: #edddcd;
    justify-content: left;
}

/* Background image in the first grid area */
.main .sec5 .grid-item2 {
    background-image: url("./Resources/Images/pexels-rfstudio-3621225.jpg");
    background-size: cover;
    background-position: center;
}

.main .sec5-headline {
    margin-top: 100px;
    margin-left: 170px;
    position: relative;
    text-align: left;
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: bold;
    color: rgb(46, 10, 5);
}

.main .sec5-desc {
    position: relative;
    text-align: left;
    margin-top: 20px;
    margin-left: 170px;
    z-index: 1;
    font-size: 30px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: bold;
    line-height: 2.5rem;
}

.main .sec5-list-wrap {
    position: relative;
    text-align: left;
    margin-left: 170px;
    z-index: 1;
}

.main .sec5-list-head {
    position: relative;
    text-align: left;
    z-index: 1;
    font-size: 25px;
    font-family: "DM Serif Display", serif;
}

.main .sec5-list {
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
}

.main .tick-list {
    list-style: none;
    /* Set the list style to 'disc' for solid ticks */
}

.main .sec5-after-list {
    margin-top: 20px;
    font-size: 20px;
    font-family: "DM Serif Display", serif;
    line-height: 1.5rem;
}

.main .but-x {
    margin-top: 40px;
    position: relative;
    margin-left: 170px;
}

.main .sc-232424a1-0 {
    text-size-adjust: 100%;
    --app-height: 100%;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    border-bottom: 2px solid rgb(51, 51, 51);
    display: inline-block;
    padding-bottom: 3px;
    color: rgb(51, 51, 51) !important;
}

.main .sc-iBzEeX {
    text-size-adjust: 100%;
    --app-height: 100%;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: rgb(51, 51, 51) !important;
    width: 13;
    height: 13;
    fill: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    margin-left: 5px;
}


@media (max-width: 768px) {
    .main .sec2 .grid-container {
        grid-template-columns: 100%;
        /* Show only one column when the screen size is reduced */
    }

    .main .sec2 .grid-item1 {
        display: none;
        /* Hide the first grid item (background image) */
    }

    .main .carousel-text {
        top: 15%;
        font-size: 50px;
    }

    .main .sec1-btn {
        display: grid;
    }

    .main .sec1-btn button {
        margin: 10px;
        padding: 10px;
    }

    .main .sec2-text {
        margin-right: 10px;
    }

    .main .sec3 .grid-container {
        grid-template-columns: auto auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    .main .sec3 .grid-item {
        padding: 5px;
    }

    .main .sec3 {
        height: max-content;
    }

    .main .sec3-text {
        font-size: 30px;
    }

    .main .sc-4e67e03b-2 {
        margin-top: 50px;
        position: relative;
        text-size-adjust: 100%;
        --app-height: 100%;
        font-family: "Work Sans", sans-serif;
        font-weight: normal;
        color: rgb(51, 51, 51);
        -webkit-font-smoothing: antialiased;
        font-size: 1.25rem;
        line-height: 1.75rem;
        box-sizing: inherit;
        -webkit-tap-highlight-color: transparent;
        display: grid;
        border-top: 1px solid rgb(51, 51, 51);
        border-bottom: 1px solid rgb(51, 51, 51);
        padding: 40px 0px;
    }

    .main .button-26 {
        margin-bottom: 20px;
    }

    .main .sec4 {
        height: fit-content;
    }

    .main .sec5 .grid-container {
        grid-template-columns: 100%;
        /* Show only one column when the screen size is reduced */
    }

    .main .sec5 .grid-item2 {
        display: none;
        /* Hide the first grid item (background image) */
    }

    .main .sec5-headline {
        margin-left: 80px;
    }

    .main .sec5-desc {
        margin-left: 80px;
        margin-right: 20px;
    }

    .main .sec5-list-wrap {
        margin-left: 80px;
    }

    .main .but-x {
        margin-left: 80px;
    }

}